// MERCEDESBENZVISIONAVTR.HTML
/*-----MERCEDESBENZVISIONAVTR.HTML-----*/
.mercedesbenz{
    background-image: url(../img/autos/mercedes-benz-vision-avtr/mercedes-benz-vision-avtr-concepttt.png);
    @extend %bg-modelos-blur;
    .grid-modelos-mcb{
    background-image: url(../img/autos/mercedes-benz-vision-avtr/mercedes-benz-vision-avtr-concepttt.png);
    @extend %bg-modelos;
    @extend %display-flex;
    .grid-detalles-reservas{
        .header-modelos{
            @extend %display-flex-modelos;
            .titulo-mcb{
                @include titulo-modelos(35px, antiquewhite, 70px);
                text-align: center
            }
        }
        .detallesYreservas{
            @extend %detalles-reservas;
            .detallesYreservas2{
                @extend %detalles-reservas-dos;
                .detalles-modelos{
                    @extend %color-font;
                    @extend %boton-modelos;
                }
                .reserva-mcb{
                    color: antiquewhite;
                    @extend %boton-modelos;
                }
            }
        }
    }
}
}
/*-----fin mercedesbenzvisionavtr.html-----*/