/* -------------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                                     */
/* -------------------------------------------------------------------------------- */



@media screen and (min-width:200px) {

    .container{
        .card{
            background: none;
            .div-breve-descripcion{
                display: none;
            }
        }
    }

    .contendeorNosotros{
        .descubre{
            p{
                .enlace-descubre{
                    background-color: rgb(30, 30, 27);
                    font-size: 20px;
                    margin: 20px;
                    padding: 10px;
                    border-radius: 22px;
                }
            }
        }
    }

}

/* ----------------------------------426PX------------------------------------------ */


@media screen and (min-width:426px) {

    .max-width-hieght {
        width: 100%;
        height: 100%;
    }

    body{
        .header-sticky{
            font-size: 17px;
        }
    }

    main{
        div{
            .fondo-360-425px{
                display: none;
            }
            .fondo-426px{
                display: block;
                position: absolute;
                object-fit: cover;
                @extend .max-width-hieght;
            }
        }
    }

    .container{
        .card{
            background: none;
            .div-breve-descripcion{
                display: none;
            }
        }
    }

    .contendeorNosotros{
        .descubre{
            p{
                .enlace-descubre{
                    background-color: rgb(30, 30, 27);
                    font-size: 22px;
                    margin: 20px;
                    padding: 10px;
                    border-radius: 22px;
                }
            }
        }
    }

}
/* ----------------------------------600PX------------------------------------------ */

@media screen and (min-width:600px) {

    //class p/extends

    .font-size-titulos-30px{
        font-size: 30px;
    }

    /*-----------------------------------------------------------------------------*/

    body{
        .header-sticky{
            font-size: 20px;
        }
    }

    .form-conteiner{
        .form-contact{
            .header-form{
                font-size: 22px;
            }
        }
    }

    .form-conteiner{
        .form-contact{
            .contact-form{
                .contact-form-hijo{
                    .div-model{
                        .label{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }


    .grid-modelos-bmw{
        .grid-detalles-reservas{
            .header-modelos{
                .titulo-citroen{
                    @extend .font-size-titulos-30px;
                }
            }
        }
    }

    .grid-modelos-citroen{
        .grid-detalles-reservas{
            .header-modelos{
                .titulobmw{
                    @extend .font-size-titulos-30px;
                }
            }
        }
    }

    .grid-modelos-geely{
        .grid-detalles-reservas{
            .header-modelos{
                .titulogeely{
                    @extend .font-size-titulos-30px;
                }
            }
        }
    }


    .grid-modelos-mcb{
        .grid-detalles-reservas{
            .header-modelos{
                .titulo-mcb{
                    color: $titulo-mcb-600px;
                    @extend .font-size-titulos-30px;
                }
            }
        }
    }
    /* ------------------------------------------------------------------- */
        /* ESTILOS PARA MODELOS.HTML */

    .citroen{
        .grid-modelos-citroen{
            background-image: url(../img/autos/citroen-19-19/citroen-19-19-concept_01.jpg);
        }
    }

    // .mercedesbenz{
    //     background-image: url(../img/autos/mercedes-benz-vision-avtr/mercedes-benz-vision-avtr-concepttt.png);
    //     .grid-modelos-mcb{
    //         background-image: url(../img/autos/mercedes-benz-vision-avtr/mercedes-benz-vision-avtr-concepttt.png);
    //     }
    // }


/* ------------------------------------------------------------------- */

    .form-conteiner{
        .form-contact{
            margin: 0;
            border: $color-letras solid 2px;
            border-radius: 10px;
            width: 100%;
            .contact-form-hijo{
                margin: 2px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, auto);
                gap: 5px; 
                .form-item{
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }
                .div-correo{
                    div{
                        .input-correo{
                            width: 80%;
                        }
                    }
                }
                .div-telefono{
                    div{
                        .input-telefono{

                            width: 80%;
                        }
                    }
                }
                .div-model{
                    display: grid;
                    grid-column: span 2;
                    align-items: center;
                    .label{
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        font-size: 1rem;
                    }
                    .div-select{
                        select{
                            cursor: pointer;
                            font-size: 14px;
                            padding: 5px;
                            border-radius: 10px;
                            .opciones{
                                text-align: center;
                            }
                        }
                    }
                }
                .form-textarea{
                    grid-column: span 2;
                    textarea{
                        text-align: center;
                        border-radius: 10px;
                        resize: none;
                        padding: 20px;
                        height: 100px;
                    }
                }
                .footer-boton{
                    height: 40px;
                    grid-column: span 2;
                    .boton-enviar{
                        cursor: pointer;
                        font-size: 20px;
                        border-radius: 10px;
                        border: white;
                        padding: 5px;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .contendeorNosotros{
        .descubre{
            p{
                .enlace-descubre{
                    background-color: rgb(30, 30, 27);
                    font-size: 22px;
                    margin: 20px;
                    padding: 10px;
                    border-radius: 22px;
                }
            }
        }
    }


    .container{
        .card{
            background: none;
            .div-breve-descripcion{
                display: none;
            }
        }
    }
}

/* ---------------------------------768PX------------------------------------------- */

@media screen and (min-width:768px) {

    //class p/extends

    .font-size-titulos{
        font-size: 45px;
    }
    
    /*-----------------------------------------------------------------------------*/

    .body-general{
        .header-sticky{
            font-size: 20px;
        }
        footer{
            font-size: 16px;
        }
    }


    .container{
        .card{
            background: none;
            .div-breve-descripcion{
                display: none;
            }
        }
    }


    .form-conteiner{
        .header-form{
            h2{
                font-size: 22px;
            }
        }
        .form-contact{
            margin: 0;
            border: $color-letras solid 2px;
            border-radius: 10px;
            width: 100%;
            .contact-form-hijo{
                margin: 2px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, auto);
                gap: 5px; 
                .form-item{
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    .inputs{
                        width: 60%;
                        text-align: center;
                        height: 50px;
                        border-radius: 10px;
                    }
                }
                .div-correo{
                    div{
                        .input-correo{
                            width: 80%;
                        }
                    }
                }
                .div-telefono{
                    div{
                        .input-telefono{

                            width: 80%;
                        }
                    }
                }
                .div-model{
                    display: grid;
                    grid-column: span 2;
                    align-items: center;
                    .label{
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        font-size: 1rem;
                    }
                    .div-select{
                        select{
                            cursor: pointer;
                            font-size: 14px;
                            padding: 5px;
                            border-radius: 10px;
                            .opciones{
                                text-align: center;
                            }
                        }
                    }
                }
                .form-textarea{
                    grid-column: span 2;
                    textarea{
                        text-align: center;
                        border-radius: 10px;
                        resize: none;
                        padding: 20px;
                        height: 100px;
                    }
                }
                .footer-boton{
                    height: 40px;
                    grid-column: span 2;
                    .boton-enviar{
                        cursor: pointer;
                        font-size: 20px;
                        border-radius: 10px;
                        border: white;
                        padding: 5px;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    /* -------------------------------------------------------------- */
    /* ESTILOS PARA MODELOS.HTML */

    .bmw{
        background-image: url(../img/autos/bmw-vision-m-next/BMW_Vision_M_NEXT_ruta_mov_fx.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        // backdrop-filter: blur(15px);
        .grid-modelos-bmw{
            .grid-detalles-reservas{
                .header-modelos{
                    .titulobmw{
                        @extend .font-size-titulos;
                    }
                }
            }
        }
    }


    .grid-modelos-citroen{
        .grid-detalles-reservas{
            .header-modelos{
                .titulo-citroen{
                    @extend .font-size-titulos;
                }
            }
        }
    }

    .grid-modelos-geely{
        .grid-detalles-reservas{
            .header-modelos{
                .titulogeely{
                    @extend .font-size-titulos;
                }
            }
        }
    }


    .grid-modelos-mcb{
        .grid-detalles-reservas{
            .header-modelos{
                .titulo-mcb{
                    color: $titulo-mcb-600px;
                    @extend .font-size-titulos;
                }
            }
        }
    }




}

/* --------------------------------1024PX------------------------------------------- */

@media screen and (min-width:1024px) {

    //class p/extends

    .mq-display-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text{
        text-align: justify;
        justify-content: center;
        align-items: center;
        margin: 10px;
        font-size: 18px;
    }

    .flex-left{
        display: flex;
        text-align: left;
        margin: 10px;
    }

    .mq-correo-telefono{
        display: grid;
        align-items: center;
        grid-column: span 1;
    }

    /* -----------------------------HEADER-------------------------------------- */

    .header-sticky{
        font-size: 22px;
    }


    /* ----------------------------MODELOS-------------------------------------- */

    .container{
       width: 100%;
       display: grid;
       grid-template-columns: auto;
       grid-template-rows: repeat(2, auto);
       justify-content:center;
       align-items: center;
       .card-name{
            p{
                // font-size: 2rem;
                a{
                    font-size: 32px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .card{
            a{
                .img{
                    @extend .mq-display-flex;
                    height: 500px;
                }
            }
            .div-breve-descripcion{
                @extend .mq-display-flex;
                font-size: 16px;
                .breve-descripcion{
                    margin-top: 10px;
                    color: white;
                    text-align: justify;
                }
            }
        }
    }




    /* ----------------------------NOSOTROS-------------------------------------- */

    .contendeorNosotros{
        background-color: rgba(46, 240, 62, 0);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: flex-start;
        padding: 1px;
        .contendor-quines-somos{
            background-color: rgba(0, 100, 0, 0);
            grid-column: span 4;
            .quienesSomos{
                margin: 10px;
            }
            .texto{
                background-color: rgba(255, 0, 0, 0);
                text-align: justify;
                margin: 10px;
                font-size: 18px;
            }
        }
        .mision{
            .titulos{
                @extend .flex-left;
            }
            .descripciones{
                @extend .text;
            }
        }
        .vision{
            .titulos{
                @extend .flex-left;

            }
            .descripciones{
                @extend .text;
            }
        }
        .objetivo{
            .titulos{
                @extend .flex-left;
            }
            .descripciones{
                @extend .text;
            }
        }
        .descubre{
            @extend .mq-display-flex;
            border-radius: 22px;
            margin: 20px;
            grid-column: span 4;
            p{
                .enlace-descubre{
                    @extend .mq-display-flex;
                    font-size: 25px;
                    background-color: rgb(30, 30, 27);
                    // background-color: rgb(197, 197, 12);
                    border-radius: 22px;
                }
            }
        }
    }


    /* ----------------------------CONTACTO-------------------------------------- */

    .form-conteiner{
        display: grid;
        justify-content: center;
        align-items: center;
        .form-contact{
            border: $color-letras solid 2px;
            border-radius: 10px;
            width: 800px;
            margin: 10px 10px;
            .header-form{
                @extend .mq-display-flex;
                margin-top: 10px;
                height: 40px;
                h2{
                    font-size: 30px;
                }
        
            }
            .contact-form{
                display: grid;
                height: 50vh;
                .contact-form-hijo{
                    .form-item{
                        @extend .mq-display-flex;
                        height: 70px;
                        .inputs{
                            height: 50px;
                        }
                    }
                    .div-correo{
                        @extend .mq-correo-telefono;
                        .form-item{
                            .input-correo{
                                width: 60%;
                            }
                        }
                    }
                    .div-telefono{
                        @extend .mq-correo-telefono;
                        .input-telefono{
                            width: 60%;
                        }
                    }
                    .div.model{
                        .label{
                            font-size: 20px;
                            margin-top: 5px;
                            @extend .mq-display-flex;

                        }
                        .div-select{
                            @extend .mq-display-flex;
                            select{
                                cursor: pointer;
                                font-size: 20px;
                                padding: 5px;
                                border-radius: 10px;
                            }
                        }
                    }
                    .form-textarea{
                        grid-column: span 2;
                        @extend .mq-display-flex;
                        textarea{
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
}

/* --------------------------------1300PX------------------------------------------- */

@media screen and (min-width:1300px) {

    .container{
        .card{
            a{
                .img{
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }
            }
            .div-breve-descripcion{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .geely{
        width: 100%;
        height: 800px;
        object-fit: cover;
    }
    }
    /* fin media queries */