$bg-color:radial-gradient(circle, rgba(0,21,56,0.9373090300573355) 0%, rgba(7,59,144,1) 0%, rgba(0,170,255,1) 100%);

$color-letras: rgb(255, 255, 255);

$color-letras-red: red;

$color-letras-blue: #1e56da;

$titulo-bmw-citroen-mcb: rgb(26, 23, 23);

$titulo-geely: rgb(232, 227, 227);

$titulo-mcb-600px: antiquewhite;

$bg-color-secondary: $color-letras;